<h2>Seleccione Archivo</h2>

<div>Ingrese el número de documento:</div>
<input type="text" [(ngModel)]="identification" />
<!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <input
    type="file"
    id="file-upload"
    (change)="handleFileInput($event.target.files)"
  />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden" />
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Seleccione un archivo</div>
      <span id="file-upload-btn" class="btn btn-primary"
        >Seleccione un archivo</span
      >
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
